<div ng-controller="SelectedASGPageController" class="container-fluid">
<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="logo-style" src="images/Cigna_Accenture_Logo.png">

        <p class="brand-style">Testing DashBoard</p>
      </a>
    </div>

  </nav>
  <div>
  <div google-chart chart="chartObject1"></div>
  <table class="table table-bordered" style="width: 44%; position: relative; bottom: 0px;left: 6px;text-align: center;">
    <thead>
      <tr>
        <th> </th>
        <th>Total Test Cases</th>
        <th>Total Automated Scripts</th>
        <th>Total Manual Scripts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ASG</td>
        <td>{{TotalNumberOfTestCases}}</td>
        <td>{{TotalFullyAutomated}}</td>
        <td>{{TotalPartiallyAutomated}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div google-chart chart="OverallChart" style="height: 246px;width: 34%;position: relative;left: 639px;top: -493px;"></div>
  <p style="position: absolute;left: 611px;top: 313px;"><img src="images/DownArrow.png" style="width: 4%" /><b><u>Top Applications in Red</u> :</b></p>
  	<table class="table table-bordered" style="width: 40%;position: relative;bottom: 473px;left: 598px;text-align: center;">
    <thead>
      <tr>
        <th>ASG Name</th>
        <th>Application Count</th>
        <th>Total Automated Scripts</th>
        <th>Total Manual Scripts</th>
        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ASGName in ASGNames">
      	<td >{{ASGName}}</td>
      	<td>{{TotalNumberOfTestCases}}</td>
        <td>{{TotalFullyAutomated}}</td>
        <td>{{TotalPartiallyAutomated}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-danger" style="position: absolute;top: 555px;right: 210px;">Show More</button>
  
  
</div>

